/* .filters {
    display: flex;
    width: 100vw;
}

.rolesFilter {
    width: 20vw;
}

.employeesFilter {
    width: 10vw;
}

.expFilter {
    width: 10vw;
}

.remoteFilter {
    width: 10vw;
}

.tStackFilter {
    width: 20vw;
}

.basePayFilter {
    width: 10vw;
}

.searchFilter {
    width: 20vw;
} */
